certifi==2026.7.22
cfgv==3.5.0
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
detect-secrets==1.5.0
diskcache==5.6.3
diskcache-stubs==5.6.3.6.20240818
distlib==0.4.3
filelock==3.32.6
identify==2.6.19
idna==3.19
Jinja2==3.1.6
jq==1.12.0
MarkupSafe==3.0.3
nodeenv==1.10.0
packaging==26.3
platformdirs==4.11.8
pre_commit==4.6.2
prettytable==3.18.0
pyparsing==3.3.2
pySigma==1.5.0
pySigma-backend-elasticsearch==2.1.1
pySigma-backend-kusto==1.0.1
pysigma-backend-splunk==2.1.0
pysigma-pipeline-sysmon==2.0.0
pysigma-pipeline-windows==2.0.0
python-discovery==1.6.0
PyYAML==6.0.3
requests==2.34.2
sigma-cli==3.1.0
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
urllib3==2.7.0
virtualenv==21.7.9
wcwidth==0.8.3
